<footer class="d-flex flex-wrap justify-content-between py-5 my-5 footer-container">
    <hr>
    <div>
        <a href="/"><img src="resources/book.svg" alt="Book Notes" class="footer-img"></a><span class="cuprum-text">© <%= new Date().getFullYear()%> Book Notes</span>
    </div>

    <ul class="nav col-md-4 list-unstyled cuprum-text">
    <li class="ms-3"><a class="text-body-secondary" href="https://github.com/itsAKDwivedi"><i class="bi fa-brands fa-github" width="24" height="24"><use xlink:href="https://github.com/itsAKDwivedi"></use></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/itsakdwivedi/"><i class="bi fa-brands fa-linkedin" width="24" height="24"><use xlink:href="https://www.linkedin.com/in/itsakdwivedi/"></use></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/itsakdwivedi/"><i class="bi fa-brands fa-instagram" width="24" height="24"><use xlink:href="https://www.instagram.com/itsakdwivedi/"></use></i></a></li>
    </ul>
</footer>

<script src="https://kit.fontawesome.com/91668f28fa.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>