<%- include('./partials/header.ejs') %>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis banner">
    <div class="col-lg-8 px-0 flex banner">
        <div>
            <h1 class="display-5 fst bold"><%= status %></h1>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>